{% extends "base.html" %}

{% block title %}
  {{ block.super }} – список ответов
{% endblock %}

{% block content %}
    {{ question.title }}
    {{ question.text }}
    {% for answer in question.answer_set.all %}
    <div class="question">
        {{ answer.text }}
    </div>
    {% endfor %}
{% endblock %}

{% for e in form.non_field_errors %}
<div class="alert alert-danger">{{ e }}</div>
{% endfor %}
<form class="form-horizontal" method="post" action="/question/id/">
    {% csrf_token %}
  <fieldset>
    {% for field in form %}
      <div class="control-group {% if field.errors %}has-error{% endif %}">
        <label class="control-label">{{ field.label }}</label>
        <div class="controls">{{ field }}</div>
      </div>
    {% endfor %}
  </fieldset>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Сохранить</button>
  </div>
</form>
